*{
    box-sizing: border-box;
}
.row{
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    border: 0;
}
/* Clearfix */
.row::before, .row::after{
    display: table;
    content: '';
}
.row::after{
    clear: both;
}
.col-12{
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
/* Less than 640px */
.col-12{
    width: 100%;
}
/* 640px< 1000px */
@media only screen and (min-width: 640px){
    .col-12{
        width: 100%;
    }
}
@media only screen and (min-width: 1000px){
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}