.hidden{
    display: none;
}
.col-12{
    margin-left: auto;
    margin-right: auto;
}
body, footer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
.divider{
    background-color: #787d7e;
    height: .5em;
}
header h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.login-form h2{
    margin-top: -.5em;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.login-form{
    padding: 3em;
    box-sizing: border-box;
    background: #d1dce5;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
.login-form label{
    display: block;
    margin: 1em;
}
#user-username,#user-password{
    border-radius: .5em;
    border: none;
    padding: .5em;
}
#submit-button{
    border: none;
    background: #4bb8d8;
    color: white;
    border-radius: .5em;
    padding: .5em .7em;
    font-size: 1em;
}
.add-user-form label{
    display: block;
    margin: 1em;
}
.create-add-user-form label{
    display: block;
    margin: 1em;
}
.create-update-user-form label{
    display: block;
    margin: 1em;
}
.create-remove-user-form label{
    display: block;
    margin: 1em;
}
.add-user-form,.add-cohorts-form,.create-add-user-form,.create-update-user-form,.create-remove-user-form{
    padding: 3em;
    box-sizing: border-box;
    background: #d1dce5;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
.add-user-form,.add-cohorts-form,.create-remove-user-form{
    margin-top: 3em;
}
.create-remove-user-form{
    margin-bottom: 3em;
}
#user-first-name,#user-last-name,#user-cohort-id,#user-location,#cohort-cohort-name,#student-user-id{
    border-radius: .5em;
    border: none;
    padding: .5em;
}
#submit-form{
    display: block;
    border: none;
    background: #4bb8d8;
    color: white;
    border-radius: .5em;
    padding: .5em .7em;
    font-size: 1em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.add-user-form,.add-cohorts-form,.create-add-user-form{
    text-align: center;
}
.add-user-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-add-user-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-update-user-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-remove-user-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.login-form button{
    display: block;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}
.add-cohorts-form label{
    display: block;
    margin: 1em;
}
.add-cohorts-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer a:link{
    
}
.grid{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    box-sizing: border-box;
    height: 3em;
}
.partner-rating-comments{
    width: 19em;
    border-radius: .25em;
}
.partner-1-name,.partner-2-name,.user-name-first,.user-name-last,.user-user-location{
    width: 10em;
    border-radius: .25em;
}
.student-user-user-first-name,.student-user-user-last-name,.student-user-location{
    width: 10em;
    border-radius: .25em;
}
.partner-cycle-id,.partner-1-id,.partner-2-id,.partner-ratings,.user-cohort-id,.user-user-id,.student-user-cohort-id,.student-user-user-id{
    width: 5em;
    border-radius: .25em;
}
.staticgrid{
    background: #d1dce5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    box-sizing: border-box;
    height: 2em;
}