.hidden{
    display: none;
}
.col-12{
    margin-left: auto;
    margin-right: auto;
}

.bg{
    background: url('https://s-media-cache-ak0.pinimg.com/736x/82/d7/5b/82d75b3c7fa6707a0b089bee87913e2a.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}
.rabbitrabbit{
    background: url('../images/rabbitwhitebackground.jpg');
    background-attachment: fixed;
    background-size: 50% 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
}
body, footer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
.divider{
    background-color: #2690ca;
    height: .5em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #2690ca;
}
.login-form h2{
    margin-top: -.5em;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.login-form{
    padding: 3em;
    box-sizing: border-box;
    background: #d1dce5;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
.login-form label{
    display: block;
    margin: 1em;
}
#user-username,#user-password{
    border-radius: .5em;
    border: none;
    padding: .5em;
}
#submit-button:hover{
    background: #2793cb; 
}

#submit-button{
    border: none;
    background: #bbc2c7;
    color: white;
    border-radius: .5em;
    padding: .5em .7em;
    font-size: 1em;
}
.add-user-form label{
    display: block;
    margin: 1em;
}
.create-add-user-form label{
    display: block;
    margin: 1em;
}
.form-parts{
    display: inline-block;
}
.create-update-user-form label{
    display: block;
    margin: 1em;
}
.create-remove-user-form label{
    display: block;
    margin: 1em;
}
.add-user-form,.add-cohorts-form,.create-add-user-form,.create-update-user-form,.create-remove-user-form{
    box-sizing: border-box;
    /*padding: .2em;*/
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    background: #d1dce5;
    /*width: 25em;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
.add-user-form,.add-cohorts-form,.create-remove-user-form{
    margin-top: 3em;
}
.create-update-user-form{
    margin-top: 1em;
}
#user-first-name,#user-last-name,#user-cohort-id,#user-location,#cohort-cohort-name,#student-user-id,#student-user-location{
    border-radius: .5em;
    border: none;
    padding: .5em;
}
#submit-form:hover{
    background: #2793cb; 
}

#submit-form{
    display: block;
    border: none;
    background: #bbc2c7;
    color: white;
    border-radius: .5em;
    padding: .5em .7em;
    font-size: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.add-user-form,.add-cohorts-form,.create-add-user-form{
    text-align: center;
}
.add-user-form h3{
    margin-top: -.25em;
    margin-bottom: -.25em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-add-user-form h3{
    margin-top: -.25em;
    margin-bottom: -.25em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-update-user-form h3{
    margin-top: -.25em;
    margin-bottom: -.25em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.create-remove-user-form h3{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.login-form button{
    display: block;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}
.add-cohorts-form label{
    display: block;
    margin: 1em;
}
.add-cohorts-form h3{
    margin-top: -.25em;
    margin-bottom: -.25em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer a:link{
    
}
.grid{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 3px;
    height: 2.1em;
}
.partner-rating-comments{
    width: 19em;
    border-radius: .25em;
}
.partner-1-name,.partner-2-name,.user-name-first,.user-name-last,.user-user-location{
    width: 10em;
    border-radius: .25em;
    background-color: white;
}
.student-user-user-first-name,.student-user-user-last-name,.student-user-location{
    width: 10em;
    border-radius: .25em;
    background-color: white;
}
.partner-cycle-id,.partner-1-id,.partner-2-id,.partner-ratings,.user-cohort-id,.user-user-id,.student-user-cohort-id,.student-user-user-id{
    width: 5em;
    border-radius: .25em;
    background-color: white;
}
.remove-student-option,.remove-student-box{
    width: 5em;
    border-radius: .25em;
}
.remove-student-option{
    background-color: white;
}
.remove-student-row{
    border: none;
    background: white;
    color: #bbc2c7;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}
.remote-student-box{
    background-color: white;
    /*padding: .5em 1em;*/
    /*font-size: 1em;*/
}
.staticgrid{
    background: #d1dce5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 3px;
    height: 2em;
    font-weight: bold;
}
.concept-users-header{
    /*margin-top: 1em;*/
}
.concept-users-chart{
    margin-bottom: 1.5em;
}

.rotate:hover{
  background: #2793cb; 
}

.rotate{
    display: block;
    margin-top: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: #bbc2c7;
    color: white;
    border-radius: .5em;
    padding: .5em .7em;
    font-size: 1em;
}
.staticgrid,.create-add-user-form,.create-update-user-form,.add-user-form,.add-cohorts-form,.remove-student-box,.student-user-user-id,.student-user-user-first-name,.student-user-user-last-name,.student-user-cohort-id,.student-user-location{
    background-color:rgba(209,220,229,.6)
}
.make-this-work{
    display: inline-block;
}

p{
    font-weight: bold;
}